.kbd-eteint {
    background-color: #313131;

}

.Touche-Light-Night-eteint {
    background-color: #313131;
}

.Touche-Retour-eteint {
    background-color: #313131;
}

.Touche-off-eteint {
    background-color: #313131;
}

.Touche-verr-eteint {
    background-color: #313131;
}

.Touche-entree-eteint {
    background-color: #313131;
}

.Touche-shift-g-eteint {
    background-color: #313131;
}

.Touche-shift-d-eteint {
    background-color: #313131;
    text-align: right;
    
}