kbd {
    background-color: #f5f3f3;
}

.Touche-Light-Night {
    background-color: #d2d2d2;
}

.Touche-Retour {
    background-color: #d2d2d2;
}

.Touche-off {
    background-color: #d2d2d2;
}

.Touche-verr {
    background-color: #d2d2d2;
}

.Touche-entree {
    background-color: #d2d2d2;
}

.Touche-shift-g {
    background-color: #d2d2d2;
}

.Touche-shift-d {
    background-color: #d2d2d2;
    text-align: right;
    
}